@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #1a202c; /* Dark blue-gray for main background */
  --secondary-bg: #2d3748; /* Darker blue-gray for containers and sections */
  --primary-text: #e2e8f0; /* Light gray for text on dark background */
  --secondary-text: #a0aec0; /* Medium gray for less prominent text */
  --accent-color-1: #4a90e2; /* Blue for primary buttons and links */
  --accent-color-2: #ffd700; /* Gold for highlighting and interactive elements */
  --accent-color-3: #ff6347; /* Tomato for alerts and notifications */
}

body {
  background-color: #1a202c;
  font-family: "Inter", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

/* styles/globals.css or any CSS file */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bounce {
  animation: bounce 0.5s ease-out;
}
